html, body {
  width: 100%;
  height: 100%;
}
body {
	position:relative;
	z-index:0;	
	
	font-size:120%;
	text-shadow:#fff 0 1px 0;
}
a {
	color:#96a7b6;	
}
.panel-heading .form-group {
	margin-bottom:0;	
}
input, textarea, select, .input-sm, .form-control, .btn, .panel, .input-group-addon{
	border-radius:0;	
}
.classTime .panel {
	opacity:0.6;	
}
.classTime:hover .panel {
	opacity:1.0;	
}
section {
	padding:15px 0px;
	margin:15px 30px;
	border-top:1px solid #ddd;	
	border-radius:5px 0 0 0;
	
}

section:hover {
	border-top:1px solid #96a7b6;
		
}
section:hover * {
	opacity:1.0;	
}
section:hover h3 {
	border-bottom:10px solid #96a7b6;
	color:#96a7b6;
}
section h3 {
	border-bottom:10px solid #ddd;
	border-radius:0 0 0 5px;
	text-transform:uppercase;
	padding-left:10px;
	padding-bottom:10px;
	font-size:20px;
	color:#ddd;
	font-weight:100 !important;
	margin-left:40px;
	margin-top:-15px;
	margin-bottom:20px;
-webkit-transform: rotate(90deg);
-webkit-transform-origin:top left;
-moz-transform: rotate(90deg);
-moz-transform-origin:top left;
-ms-transform: rotate(90deg);
-ms-transform-origin:top left;/
-o-transform: rotate(90deg);
-o-transform-origin:top left;

filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
/* Internet Explorer */
position:absolute;

left:30px;	
}
section:nth-child(even) {
	
}
.modal-lg {
  width: 80%;
}
.modal-sm {
  width: 30%;
}

section .anchor {
	margin-top:-128px;	
	float:left;
}
.form-nav {
	margin-top:30px;
	margin-left:20px;	
}
.form-nav li{
	display:inline-block;
}
.form-nav li.active a {
	border-bottom:2px solid #428bca;	
}
.sidebar {
	width:200px;
	height: 100%;
	top:0;
  	position:fixed;
	background:#31373d;
	box-shadow:#000 0 0 10px inset;
}
.sidebar ul {
	margin-top:50px;
	margin-left:0;
	margin-right:0;
	list-style:none;
	padding-left:0;	
}
.sidebar ul:hover li.active:after, .sidebar ul:hover li.active a:after{
	display:none;
}
.sidebar ul:hover li.active:hover:after, .sidebar ul:hover li.active a:hover:after{
	display:block;	
}
.sidebar ul li.active a:hover {
	background:#428bca;
}
.sidebar ul li {
	margin-left:0;
	padding-left:0;
	position:relative;
	text-transform:capitalize;
}

.sidebar ul li a {
	display:block;
	padding:5px 5px 5px 20px;
	font-weight:bold;
	text-shadow:#000 0 1px 0;
	color:#96a7b6;	
}
.sidebar ul li a i {
	padding-right:10px	
}
.sidebar ul li a:hover, .sidebar ul li.active a {
	text-decoration:none;
	color:#fff;
	background:#428bca;
	box-shadow:#000 -1px 1px 2px inset;
	position:relative;
}
.sidebar ul li.active a{
	/*background:#272c30;
	box-shadow:#000 0 0 3px inset;*/
	background:none;
	box-shadow:none;	
}
.sidebar ul li a:hover:after, .sidebar ul li.active a:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 12px 8px 0;
	border-color: transparent #000000 transparent transparent;	
	position:absolute;
	top:6px;
	right:0px;
}

.sidebar ul li:hover:after, .sidebar ul li.active:after {
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 12px 8px 0;
	border-color: transparent #ffffff transparent transparent;	
	position:absolute;
	top:5px;
	right:-1px;
}
.main-content {
	margin-left:200px;	
	padding:100px 0px;
	position:relative;
	z-index:1;
}
.navTop {
	background:#272c30;
	color:#fff;	
	text-align:center;
}
#orgName {
	padding-top:20px;	
}
#userName {
	padding-bottom:20px;
	font-size:10px;	
}
.page-header {
	right:0px;
	left:200px;
	position:fixed;
	top:-60px;	
	padding:20px 30px;
	margin-right:0px;
	background:white;
	background:rgba(255,255,255,0.9);
	border-bottom:#ccc 1px solid;
	z-index:9999;
	text-transform:uppercase;
}
.page-header .btn {
	margin-top:20px;	
}
.clickableRow td {
	cursor:pointer;	
}
.clickableRow:hover .editBtn {
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);	
	background-color: #e0e0e0;
	border-color: #dbdbdb;
	background-image: none;
	color: #333;
	outline: 0;
}
.hideBtn {
	display:none;	
}
.panel-body {
	z-index:0;	
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	color:#666;
}
/*h1 i, h2 i, h3 i , h4 i , h5 i , h6 i {
	/*color:#428bca;
}*/
.page-header h1 a:hover{
	color:#666;
	text-decoration:none;
}
